<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ============================================================== -->
    <add key="server" value="http://ap-tfs2010-p02:8080"/>
    <add key="user" value="kbaesler"/>
    <add key="token" value="586d09cecce248ef9ce9830331ded88a"/>    
    <!-- ============================================================= -->    
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Chauffeur.log" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics> 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IChauffeurService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Chauffeur.Jenkins.Services/ChauffeurService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChauffeurService"
        contract="ServiceReference.IChauffeurService" name="BasicHttpBinding_IChauffeurService" />
    </client>
  </system.serviceModel>
</configuration>