<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- =============================================================
      The JENKINS server configurations.    
    ================================================================== -->
    <add key="Chauffeur/Jenkins/Server" value="http://localhost:8080/"/>
    <add key="Chauffeur/Jenkins/User" value="test"/>
    <add key="Chauffeur/Jenkins/Token" value="123131231231"/>
    <!-- =============================================================
      The PACKAGES installation and de-installation configurations.
    ================================================================== -->
    <add key="Chauffeur/Packages/UninstallPropertyReferences" value="ENVIRONMENT=DEV"/>
    <add key="Chauffeur/Packages/InstallPropertyReferences" value="COMPANY=A ENVIRONMENT=DEV"/>
    <!-- =============================================================
      The NOTIFICATION configurations.  
    ================================================================== -->
    <add key="Chauffeur/Notifications/Host" value="smtp.sempra.com"/>
    <add key="Chauffeur/Notifications/To" value="kbaesler@semprautilities.com,kbaesler@semprautilites.com"/>
    <add key="Chauffeur/Notifications/From" value="egisbuild@semprautilities.com"/>   
  </appSettings>  
</configuration>