<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- =============================================================
      The JENKINS server configurations.    
    ================================================================== -->
    <add key="Chauffeur/Jenkins/Server" value="http://localhost:8080/"/>
    <add key="Chauffeur/Jenkins/User" value=""/>
    <add key="Chauffeur/Jenkins/Token" value=""/>
    <!-- =============================================================
      The PACKAGES installation and de-installation configurations.
    ================================================================== -->
    <add key="Chauffeur/Packages/UninstallPropertyReferences" value=""/>
    <add key="Chauffeur/Packages/InstallPropertyReferences" value=""/>
    <!-- =============================================================
      The NOTIFICATION configurations.  
    ================================================================== -->
    <add key="Chauffeur/Notifications/Host" value=""/>
    <add key="Chauffeur/Notifications/To" value=""/>
    <add key="Chauffeur/Notifications/From" value=""/>
    <add key="Chauffeur/Notifications/Subject" value=""/>
    <add key="Chauffeur/Notifications/Body" value=""/>
    <!-- =============================================================
      The RESOURCES configurations
    ================================================================== -->
    <add key="Chauffeur/Resources/Templates" value="~\Templates"/>
    <add key="Chauffeur/Resources/Data" value="~\Data"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Chauffeur.log" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>