<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- =============================================================
      The JENKINS communication configurations.    
    ================================================================== -->
    <add key="jenkins.server" value="http://ap-tfs2010-p02:8080/"/>
    <add key="jenkins.user" value="kbaesler"/>
    <add key="jenkins.token" value="586d09cecce248ef9ce9830331ded88a"/>
    <!-- =============================================================
      The CHAUFFUER installation and de-installation configurations.
    ================================================================== -->
    <add key="chauffeur.artifacts" value="C:\ProgramData\Jenkins"/>
    <add key="chauffeur.uninstall" value="/quiet"/>
    <add key="chauffeur.install" value="/quiet"/>
    <!-- =============================================================
      The BUILD notifications configurations.
   
      [1] {BUILD(NUMBER)}          : The unique number of the build. 
      [2] {BUILD(BUILTON)}         : The date the build was created. 
      [3] {BUILD(DURATION)}        : The time it took for the build to complete. 
      [4] {BUILD(FULLDISPLAYNAME)} : The full name of the build. 
      [5] {BUILD(ID)}              : The unique identifier for the build. 
      [6] {BUILD(URL)}             : The url location of the build. 
      [7] {CHAUFFEUR(MACHINENAME)} : The name of the machine that host the service.
    ================================================================== -->
    <add key="email.host" value="smtp.sempra.com"/>
    <add key="email.to" value="kbaesler@semprautilities.com"/>
    <add key="email.from" value="kbaesler@semprautilities.com"/>
    <add key="email.html" value="false"/>
    <add key="email.subject" value="Build Installed: {BUILD(NUMBER)} on {CHAUFFEUR(MACHINENAME)}."/>
    <add key="email.body" value="Team, 
         A new build has been installed on the {CHAUFFEUR(MACHINENAME)} citrix server.
          - Number: {BUILD(NUMBER)}
          - Built On: {BUILD(BUILTON)}
          - Duration: {BUILD(DURATION)}
          - Name: {BUILD(FULLDISPLAYNAME)}
          - ID: {BUILD(ID)}
          - URL: {BUILD(URL)}"/>  
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Chauffeur.log" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>