<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- =============================================================
      The JENKINS server configurations.    
    ================================================================== -->
    <add key="Chauffeur/Jenkins/Server" value="http://ap-tfs2010-p02:8080/"/>
    <add key="Chauffeur/Jenkins/User" value="kbaesler"/>
    <add key="Chauffeur/Jenkins/Token" value="586d09cecce248ef9ce9830331ded88a"/>
    <!-- =============================================================
      The PACKAGES installation and de-installation configurations.
    ================================================================== -->    
    <add key="Chauffeur/Packages/UninstallPropertyReferences" value=""/>
    <add key="Chauffeur/Packages/InstallPropertyReferences" value=""/>
    <!-- =============================================================
      The NOTIFICATION configurations.  
    ================================================================== -->
    <add key="Chauffeur/Notifications/Host" value=""/>
    <add key="Chauffeur/Notifications/To" value=""/>
    <add key="Chauffeur/Notifications/From" value=""/>        
    <!-- =============================================================
      The RESOURCES configurations
    ================================================================== -->    
    <add key="Chauffeur/Resources/Templates" value="~\Templates"/>
    <add key="Chauffeur/Resources/Data" value="~\Data"/>    
  </appSettings>
  <system.serviceModel>   
    <services>
      <service name="Chauffeur.Jenkins.Services.JobService">
        <endpoint address="" binding="basicHttpBinding" contract="Chauffeur.Jenkins.Services.IJobService" />
        <endpoint address="rest" binding="webHttpBinding" contract="Chauffeur.Jenkins.Services.IJobService" behaviorConfiguration="webBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Chauffeur.Jenkins.Services/JobService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Chauffeur.Jenkins.Services.ChauffeurService">
        <endpoint address="" binding="basicHttpBinding" contract="Chauffeur.Jenkins.Services.IChauffeurService"/>
        <endpoint address="rest" binding="webHttpBinding" contract="Chauffeur.Jenkins.Services.IChauffeurService" behaviorConfiguration="webBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Chauffeur.Jenkins.Services/ChauffeurService/" />
          </baseAddresses>
        </host>
      </service>     
      <service name="Chauffeur.Jenkins.Services.NotificationService">
        <endpoint address="" binding="basicHttpBinding" contract="Chauffeur.Jenkins.Services.INotificationService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Chauffeur.Jenkins.Services/NotificationService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>      
      </basicHttpBinding>    
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>