<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ============================================================== -->
    <add key="server" value="http://localhost:8080"/>
    <add key="user" value="jumpercables"/>
    <add key="token" value="586d09cecce248ef9ce9830331ded88a"/>
    <!-- ============================================================= -->
    <add key="uninstall" value="/quiet"/>
    <add key="install" value="/quiet COMPANY=SCG SYSTEM_ENVIRONMENT=PROD"/>
    <!-- ============================================================== -->
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Chauffuer.log" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <services>
      <service name="Chauffeur.Jenkins.Services.ChauffeurService">
        <endpoint address="" binding="basicHttpBinding" contract="Chauffeur.Jenkins.Services.IChauffeurService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Chauffeur.Jenkins.Services/ChauffeurService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>