<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- =============================================================
      The JENKINS server configurations.    
    ================================================================== -->
    <add key="Chauffeur/Jenkins/Server" value="http://localhost:8080/"/>
    <add key="Chauffeur/Jenkins/User" value=""/>
    <add key="Chauffeur/Jenkins/Token" value=""/>
    <!-- =============================================================
      The PACKAGES installation and de-installation configurations.
    ================================================================== -->
    <add key="Chauffeur/Packages/DataDirectory" value=""/>
    <add key="Chauffeur/Packages/UninstallPropertyReferences" value=""/>
    <add key="Chauffeur/Packages/InstallPropertyReferences" value=""/>
    <!-- =============================================================
      The NOTIFICATION configurations.
   
      [*] {BUILD(NUMBER)}          : The unique number of the build. 
      [*] {BUILD(TIMESTAMP)}       : The date the build was created. 
      [*] {BUILD(DURATION)}        : The time it took for the build to complete. 
      [*] {BUILD(FULLDISPLAYNAME)} : The full name of the build.       
      [*] {BUILD(ID)}              : The unique identifier for the build. 
      [*] {BUILD(URL)}             : The url location of the build.       
      [*] {CHAUFFEUR(MACHINENAME)} : The name of the machine that host the service.
    ================================================================== -->
    <add key="Chauffeur/Notifications/Host" value=""/>
    <add key="Chauffeur/Notifications/To" value=""/>
    <add key="Chauffeur/Notifications/From" value=""/>
    <add key="Chauffeur/Notifications/IsHtml" value="false"/>
    <add key="Chauffeur/Notifications/Subject" value="Build Installed: {BUILD(NUMBER)} on {CHAUFFEUR(MACHINENAME)}."/>
    <add key="Chauffeur/Notifications/Body" value="Team, 
         
         The latest installer for Desktop has been installed on the {CHAUFFEUR(MACHINENAME)} citrix server. 
         
         - Name: {BUILD(FULLDISPLAYNAME)}
         - Number: {BUILD(NUMBER)}    
         - Paths: {CHANGETSET(AFFECTEDPATHS)}
                        
         "/>  
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Chauffuer.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <services>
      <service name="Chauffeur.Jenkins.Services.ChauffeurService">
        <endpoint address="rest" binding="webHttpBinding" contract="Chauffeur.Jenkins.Services.IChauffeurService" behaviorConfiguration="webBehavior"/>
        <endpoint address="" binding="basicHttpBinding" contract="Chauffeur.Jenkins.Services.IChauffeurService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Chauffeur.Jenkins.Services/ChauffeurService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>