<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- =============================================================
      The JENKINS communication configurations.    
    ================================================================== -->
    <add key="jenkins.server" value=""/>
    <add key="jenkins.user" value=""/>
    <add key="jenkins.token" value=""/>
    <!-- =============================================================
      The CHAUFFUER installation and de-installation configurations.
    ================================================================== -->
    <add key="chauffeur.artifacts" value="C:\ProgramData\Jenkins"/>
    <add key="chauffeur.uninstall" value="/quiet"/>
    <add key="chauffeur.install" value="/quiet"/>
    <!-- =============================================================
      The BUILD notifications configurations.
   
      [1] {BUILD(NUMBER)}          : The unique number of the build. 
      [2] {BUILD(BUILTON)}         : The date the build was created. 
      [3] {BUILD(DURATION)}        : The time it took for the build to complete. 
      [4] {BUILD(FULLDISPLAYNAME)} : The full name of the build. 
      [5] {BUILD(ID)}              : The unique identifier for the build. 
      [6] {BUILD(URL)}             : The url location of the build. 
      [7] {CHAUFFEUR(MACHINENAME)} : The name of the machine that host the service.
    ================================================================== -->
    <add key="email.host" value=""/>
    <add key="email.to" value=""/>
    <add key="email.from" value=""/>
    <add key="email.html" value="false"/>
    <add key="email.subject" value="Build Installed: {BUILD(NUMBER)} on {CHAUFFEUR(MACHINENAME)}."/>
    <add key="email.body" value="Team, 
         A new build has been installed on the {CHAUFFEUR(MACHINENAME)} citrix server.
          - Number: {BUILD(NUMBER)}
          - Built On: {BUILD(BUILTON)}
          - Duration: {BUILD(DURATION)}
          - Name: {BUILD(FULLDISPLAYNAME)}
          - ID: {BUILD(ID)}
          - URL: {BUILD(URL)}"/>  
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Chauffuer.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <services>
      <service name="Chauffeur.Jenkins.Services.ChauffeurService">
        <endpoint address="" binding="basicHttpBinding" contract="Chauffeur.Jenkins.Services.IChauffeurService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Chauffeur.Jenkins.Services/ChauffeurService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>