<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ============================================================== -->
    <add key="server" value="http://ap-tfs2010-p02:8080"/>
    <add key="user" value="kbaesler"/>
    <add key="token" value="586d09cecce248ef9ce9830331ded88a"/>
    <add key="job" value="Sempra_Development_9.3.2_SP1_Desktop_Gas" />
    <add key="build" value="" />
    <!-- ============================================================== -->
    <add key="uninstall" value="/quiet"/>
    <add key="install" value="/quiet COMPANY=SCG SYSTEM_ENVIRONMENT=PROD"/>
    <add key="interval" value="900000"/>
    <!-- ============================================================== -->
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Chauffeur.log" />        
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>